// 全局变量
@import './variables.scss';
// ele样式覆盖
@import './element-ui.scss';
// 顶部右侧显示
@import './top.scss';
// 导航标签
@import './tags.scss';
// 工具类函数
@import './mixin.scss';
// 侧面导航栏
@import './sidebar.scss';
// 动画
@import './animate/vue-transition.scss';
//主题
@import './theme/index.scss';
//适配
@import './media.scss';
//表单
@import './form.scss';
//表单
@import './home.scss';
//滑动按钮
@import './el-switch.scss';

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

@include scrollBar();
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  outline: none !important;
}

body {
  font-family: "Microsoft YaHei";
  line-height: 2;
}

html,
body {
  height: 100%;
}

fieldset,
img {
  border: 0;
}

ol,
ul {
}

em {
  // font-style: normal;
}

input,
button,
select,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

//为了使文本段落左右两边对齐
p {
  word-wrap: break-word
}

a {
  text-decoration: none;
}

i {
  display: inline-block;
}


/*a:hover { color: #f60; text-decoration:none; }*/

address,
cite,
code,
em,
th {
  font-weight: normal;
  //font-style: normal;
}

a {
  text-decoration: none;
  display: inline-block;
}


/*a:link{color:#009;}*/


/*a:visited{color:#800080;}*/

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
}

.padding {
  padding: 0 !important;
}

.margin {
  margin: 0 !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.pull-center {
  text-align: center;
}

.pull-flex {
  display: flex;
}

.pull-overflow {
  overflow: hidden;
}

.pull-auto {
  height: auto;
  overflow: hidden;
}

.pull-height {
  height: 100%;
  overflow: hidden;
}

.pull-fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.text-white {
  color: #fff;
}

.grayMode {
  filter: grayscale(100%);
}

.tree-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tree-node {
  width: 80%;
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
}

input, textarea {
  font-family: Tahoma, Verdana, Arial;
  font-size: 9pt;
}

.dialog-footer {
  text-align: center;
}


.avue-crud__pagination div.el-pagination {
  float: none;
  text-align: right;

  .el-pagination__total {
    float: left;
  }
}

.choose-num {
  margin-right: 10px;
}


.table-content {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

// 自定义分页组件样式
.page-section {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  line-height: 50px;

  .custom-page-total {
    font-size: 14px;
    color: #808ba7;
    margin-left: 24px;
  }
}