// 全局变量
@import './variables.scss';
// ele样式覆盖
@import './element-ui.scss';
// 顶部右侧显示
@import './top.scss';
// 导航标签
@import './tags.scss';
// 工具类函数
@import './mixin.scss';
// 侧面导航栏
@import './sidebar.scss';
// 动画
@import './animate/vue-transition.scss';
//主题
@import './theme/index.scss';
//适配
@import './media.scss';
//表单
@import './form.scss';
//表单
@import './home.scss';
//滑动按钮
@import './el-switch.scss';

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

@include scrollBar();
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  outline: none !important;
}

body {
  font-family: "Microsoft YaHei";
  line-height: 2;
}

html,
body {
  height: 100%;
}

fieldset,
img {
  border: 0;
}

ol,
ul {
}

em {
  // font-style: normal;
}

input,
button,
select,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

//为了使文本段落左右两边对齐
p {
  word-wrap: break-word
}

a {
  text-decoration: none;
}

i {
  display: inline-block;
}


/*a:hover { color: #f60; text-decoration:none; }*/

address,
cite,
code,
em,
th {
  font-weight: normal;
  //font-style: normal;
}

a {
  text-decoration: none;
  display: inline-block;
}


/*a:link{color:#009;}*/


/*a:visited{color:#800080;}*/

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
}

.padding {
  padding: 0 !important;
}

.margin {
  margin: 0 !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.pull-center {
  text-align: center;
}

.pull-flex {
  display: flex;
}

.pull-overflow {
  overflow: hidden;
}

.pull-auto {
  height: auto;
  overflow: hidden;
}

.pull-height {
  height: 100%;
  overflow: hidden;
}

.pull-fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.text-white {
  color: #fff;
}

.grayMode {
  filter: grayscale(100%);
}

.tree-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tree-node {
  width: 80%;
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
}

input, textarea {
  font-family: Tahoma, Verdana, Arial;
  font-size: 9pt;
}

.dialog-footer {
  text-align: center;
}


.avue-crud__pagination div.el-pagination {
  float: none;
  text-align: right;

  .el-pagination__total {
    float: left;
  }
}

.choose-num {
  margin-right: 10px;
}


.table-content {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

// 自定义分页组件样式
.page-section {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  line-height: 50px;

  .custom-page-total {
    font-size: 14px;
    color: #808ba7;
    margin-left: 24px;
  }
}



.div-screen-box {
  width: 100%;
  height: 100%;

  .screen-content-div {
    width: 100%;
    height: calc(100% - 70px);
  }

  .screen-content-div-flex {
    display: flex;
  }

  .screen-table {
    width: 100%;
    height: calc(100% - 140px);
    margin-top: 20px;
  }

  //右侧有树形结构
  .screen-right-div {
    height: 100%;
    width: calc(100% - 264px);
    padding-left: 20px;
  }

  //选择树形后显示的标题
  .screen-right-p {
    font-size: 16px;
    font-family: PingFang SC, PingFang SC-Medium;
    font-weight: 600;
    color: #393939;
    line-height: 40px;
    height: 40px;
  }

  .screen-add-span {
    width: 70px;
    height: 32px;
    background: #505050;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
  }

  .screen-right-content-div {
    width: 100%;
    height: calc(100% - 82px);
    margin-top: 20px;
  }

  .flex-table {
    display: flex;
    flex-direction: column;

    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      height: 100px;
    }
    .el-table__inner-wrapper{
      height:100%
    }
    .el-table__body-wrapper {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      height:calc(100% - 40px)
    }
  }

  //抽屉
  .drawer-style {
    .d-content-style {
      width: 100%;
      padding-top: 10px;
      height: calc(100% - 56px);
      box-sizing: border-box;
      border-bottom: 1px solid #e5e8eb;
      overflow: auto;
    }

    .d-footer-style {
      width: 100%;
      height: 56px;
      padding-right: 26px;
      box-sizing: border-box;
      text-align: right;
      line-height: 56px;
    }
  }

  //form
  .form-styles {
    width: 80%;
    margin: 0 auto;
  }
}

.el-dialog__footer {
  box-sizing: border-box;
  border-top: 1px solid #E5E8EB;
}

.out-div {
  border-top: 1px solid #efefef;
  width: calc(100% - 20px);

  :nth-child(2n+1) {
    span {
      border-left: 1px solid #efefef;
      border-right: 1px solid #efefef;
      border-bottom: 1px solid #efefef;

    }

    p {
      border-right: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      height: calc(100% - 22px);
    }


  }
;

  :nth-child(2n) {

    span {
      border-right: 1px solid #efefef;
      border-bottom: 1px solid #efefef;

    }

    p {
      border-right: 1px solid #efefef;
      height: calc(100% - 22px);
      border-bottom: 1px solid #efefef;
    }
  }
;
  display: grid;
  grid-template-columns: 50% 50%;
}

.detail-div-style {
  width: calc(100%);
  display: inline-flex;
  font-size: 14px;
  color: #666666;
  height: 100%;


  .lastDiv {
    width: 100%;
  }


  span {
    display: flex;
    width: 183px;
    align-items: center;
    padding: 10px 0 10px 20px;
    background: #f5f5f5;
    font-size: 14px;
    font-family: PingFang SC, PingFang SC-Bold;
    font-weight: 700;
    color: #333333;


  }


  p {
    color: #333333;
    align-self: center;
    padding: 10px 10px 10px 20px;
    word-break: break-all;
    width: calc(100% - 223px);
    background: #fbfbfb;

  }
}

.status-divs {
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  &_1 {
    font-size: 14px;
    color: #D61D1D;
  }

  &_0 {
    font-size: 14px;
    color: #127605;
  }
}
.drawer-width-65{
  .el-drawer {
    width: 65% !important;
  }
}
.drawer-width-55{
  .el-drawer {
    width: 55% !important;
  }
}

.drawer-width-45{
  .el-drawer {
    width: 45% !important;
  }
}
.drawer-width-35{
  .el-drawer {
    width: 35% !important;
  }
}