.avue-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  color: rgba(0, 0, 0, 0.65);
  font-size: 18px;
  padding: 0 20px;
  box-sizing: border-box;
  white-space: nowrap;
  width: 100%;
  height: $avue-top-height;
  margin: 0 auto;
}

.avue-logo {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: $avue-left-width;
  height: $avue-top-height;
  line-height: $avue-top-height;
  // border-bottom: 2px solid $mainColor;
  //background: url("../../public/img/icon/logo.png") no-repeat 15px 15px;
  //background-size: 26px auto;
  font-size: 18px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #FFFFFF;
  z-index: 1024;

  &_title {
    // display: block;
    text-align: left;
    // padding-left: 52px;
    font-size: 17px;
    font-weight: bold;
  }

  &_subtitle {
    //display: block;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
  }
}

.top-search {
  position: absolute !important;
  top: 10px;
  left: 20px;
  width: 400px !important;

  .el-input__inner {
    border: none;
    background-color: transparent;
  }
}

.top-bar__img {
  margin: 0 8px 0 5px;
  padding: 2px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 1px solid #eee;
  vertical-align: middle;
}

.top-bar__right {
  height: 52px;
  display: flex;
  align-items: center;
}

.top-bar__left {
  left: 0;
  height: 52px;
}

// .top-bar__right {
//     padding: 8px $layout-offset 0 0;
//     right: 0;
// }

.top-bar__title {
  padding-left: 40px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: inherit;
  font-weight: 400;
}

.top-bar__item {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  height: 50px;

  &--show {
    display: inline-block !important;
  }
}