//main
$mainBg: #FFFFFF;
$mainColor: #097ce3;
$mainColor-light: #40a9ff;
$borderColor: #e3e3e3;
$hoverColor: #3a9fff;

$defaultBorderColor:#e8e8e8;//浅色的边框
$avue-left-width: 245px;//左侧边栏的宽度
$avue-top-height: 52px;
$avue-left-col-width: 54px;
$avue-bread-height: 48px;
$layout-offset: 12px;
